.radioTipo{
	font-size: 1.1rem;
}

.help-block{
	color: #8F8F8F;
	font-size: 0.9rem;
}

.checkbox-inline{
	display: inline-block;
}

.input-group-btn{
	display: block;
	text-align: center;
	justify-content: center;
}